@charset "ISO-8859-1";
body{
	background-color: rgb(60, 60, 60);
}
.addcourse{
margin-top: 15%;
margin-left: 35%;
color: white;
}
input{
	float:right;
	margin-right:70%;
}
.submit{
	margin-right: 50%;
	
}
.submit:hover{
	background-color: green;
	color: white;
	border: none;
}