@charset "ISO-8859-1";
.welcome{
	
	color: black;
	background-color:white;
	padding-right: 10px;
	padding-left: 20px;
	margin-right: 76%;
	margin-left: 2.5%;
	padding-bottom: 0.5px;
	padding-top: 0.5px;
	border-radius: 20px;
	margin-top: 2%;
	width: fit-content;
}

.logout{
	margin-left: 90%;
	margin-top: -2%;
}

body{
	background-color:  rgb(60, 60, 60);
}




button{
	border-radius: 18px;
	background-color: white;
}

.middle1{
	margin-top: 200px;
}
button:hover{
	background-color: darkgreen;
	border: none;
	color: white;
}























