<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Learn Sphere</title>
  </head>
  <body>
         <div class="header">Welocme To Learn sphere</div>  
    <div>
		<button type="button" class="button"    id="login" onclick="location.href='/login'"> Login </button><br><br>
    	<button type="button" class="button"    id="regester"         onclick="location.href='/register'"> Register </button>
   </div>
   <aside>
	   <div class="para"> At LearnSphere, we believe that learning is an everlasting journey, 
	   a journey that knows no bounds and leads to endless possibilities. 
	   Our mission is to empower individuals from all walks of life to embark 
	   on this journey, to explore, to expand their horizons, and to realize
	    their full potential.
	    </div>
	    <div class="founder">
		</div>
		</aside>
		<main>
		<div class="quoit"> " A mind needs knowladge <br>like a sward needs a wheatstone. " <br> <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large; margin-left: 3%;"> - kishore,  founder Learn sphere</span></div>
	    </main>
    
  </body>
</html>